

body{
	background-color: #F1FAEE;
}

button {
	font-size: 30px;
	background-color: #A8DADC
}

h1,h2 {
	color: #1D3557;
}

#signup {
	background-color: #1D3557;
	color: #F1FAEE;
}

span {
	color: #457B9D;
}

.tag {
	background-color: #E63946;
	color: #F1FAEE;
	font-size: 16px;
}
.post a {
	color: #457b9d;
	text-decoration: none;
	font-weight: 700;
}

footer a{
	color: #E63946;
}

h2 + button {
	font-size: 20px; 
}

footer > a {
	color:  #a8dadc;
}
input[type="password"]{
	color: greenyellow;
}
a[href*="google"]{
	color: magenta
}
.post button:hover {
	background-color: #e63946;
	color: #f1faee;
}
.post a:hover {
	text-decoration: underline;
}

post button:active {
	background-color: #02c39a;
}
.post:nth-of-type(2n) {
	background-color: #dfe8dc;
}
h2::first-letter {
	font-size: 50px;
}
p::first-line{
	color: purple;
}
p::selection{
	background-color: #fcbf49;
}
button:hover {
	background-color: olive;
	font-size: 10px;
}
button {
	background-color: magenta !important;
}



